$gutterWidth: 30px;
$navigationMaxWidth: 1024px;
$contentMaxWidth: 640px;

$debug: false;

a, h1, h2, h3, h4, h5, h6, p {
    color: black;
}

@media(prefers-color-scheme: dark) {

    a, h1, h2, h3, h4, h5, h6, p {
        color: #DBDBDB;
    }

    html {
        background-color: #1d1e20;
    }
}

// Reset things

* {
    margin: 0px;
}

a {
    text-decoration: none;
}

// General

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;

    margin-top: 30px;

    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    padding-left: $gutterWidth;
    padding-right: $gutterWidth;

    // Debug
    @if ($debug) {background-color: rgb(167, 141, 162);}
}

/*******************************
 * Header / Navigation
 *******************************/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: $gutterWidth;
    padding-right: $gutterWidth;

    max-width: $navigationMaxWidth;

    @if ($debug) {background-color:cadetblue;}

    & h1 {
        display: block;
        font-size: 1.4em;

        // Debug
        @if ($debug) {background-color: burlywood;}

        & a {
            // height: 30px;
        }
    }

    & h1.open {
        float: none
        // Push the dropdown underneath
    }

    & ul{
        flex-grow: 1;
        padding: 0px;
        margin: 0px;
        display: block;

        // Contents
        display: flex;
        align-items: center;
        justify-content: flex-end;

        // Debug
        @if ($debug) {background-color: rebeccapurple;}
    }

    & li {
        list-style-type: none;
        margin-left: 20px;
        // text-transform: lowercase;

        & a:hover {
                color: #888;
        }
    }

    & .open-menu-button {
        display: none;
        padding: 6px;
        cursor: pointer;

        // Remove button styles
        border: none;
        background-color: unset;
        font-size: 2em;
        color: #DBDBDB;

        @if ($debug) {background-color: rgb(162, 182, 135);}

        & .menu-icon {
            height: 18px;
            width: 18px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & div {
                background-color: white;
                height: 2px;
                width: 18px;
                border-radius: 2px;
            }
        }


    }

    & .active .underline{
        position: relative;
        top: 4px;
        height: 3px;
        margin-bottom: -3px;
        background-color: #DBDBDB; // rgb(255, 208, 53);
    }


}

// Responsive drop down menu

@media screen and (max-width: 750px) {
    nav {
        & ul {
            display: none;
        }

        & .open-menu-button {
            display: block;
        }


    }

    nav.open {
        display: block;

        & .open-menu-button {
            position: absolute;
            top     : 20px; // Navigation padding
            right   : 30px; // ^^

            & .menu-icon {

                & div:first-child {
                    width: 24px;
                    position: relative;
                    top: 8px;
                    left: -3px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                & div:nth-child(2) {
                    display: none;
                }

                & div:last-child {
                    width: 24px;
                    position: relative;
                    top: -8px;
                    right: 3px;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }

        & ul {
            // display: inherit;

            transition: height 0.25s ease-in;

            display   : flex;
            flex-direction: column;
            align-items: flex-end;

            & li {
                margin-top: 30px;
            }
        }
    }

}


/*******************************
 * Footer
 *******************************/

footer {
   padding-top: 120px;
   padding-bottom: 30px;
   color: #AAA;

   & .hugo-link {
       color: #ED5288;
   }
}

/*******************************
 * Splash
 *******************************/

.splash-container {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.splash {
    padding-bottom: 120px;
}

.splash .icon {
    font-size: 4em;
}