$plain: #e6e6e6;
$keyword: #FDC96A;
$name: $keyword;
$literal: #76dc71;
$number: orange;
$comment: #5D636F;
$operator: $keyword;
$puncuation: $plain;
$backgroundColor: #303030;

//

/* Background */ .chroma { color: $plain;
                           background-color: $backgroundColor;
                           font-family: "monospace"
                         }

/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }

/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }

/* Keyword */ .chroma .k { color: $keyword }
/* KeywordConstant */ .chroma .kc { color: $keyword }
/* KeywordDeclaration */ .chroma .kd { color: $keyword }
/* KeywordNamespace */ .chroma .kn { color: $operator }
/* KeywordPseudo */ .chroma .kp { color: $keyword }
/* KeywordReserved */ .chroma .kr { color: $keyword }
/* KeywordType */ .chroma .kt { color: $keyword }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: $name }
/* NameBuiltin */ .chroma .nb { color: $name }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: $name }
/* NameConstant */ .chroma .no { color: $keyword }
/* NameDecorator */ .chroma .nd { color: $name }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color: $name }
/* NameFunction */ .chroma .nf { color: $name }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color: $name }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: $operator }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: $number }
/* LiteralDate */ .chroma .ld { color: $literal }
/* LiteralString */ .chroma .s { color: $literal }
/* LiteralStringAffix */ .chroma .sa { color: $literal }
/* LiteralStringBacktick */ .chroma .sb { color: $literal }
/* LiteralStringChar */ .chroma .sc { color: $literal }
/* LiteralStringDelimiter */ .chroma .dl { color: $literal }
/* LiteralStringDoc */ .chroma .sd { color: $literal }
/* LiteralStringDouble */ .chroma .s2 { color: $literal }
/* LiteralStringEscape */ .chroma .se { color: $number }
/* LiteralStringHeredoc */ .chroma .sh { color: $literal }
/* LiteralStringInterpol */ .chroma .si { color: $literal }
/* LiteralStringOther */ .chroma .sx { color: $literal }
/* LiteralStringRegex */ .chroma .sr { color: $literal }
/* LiteralStringSingle */ .chroma .s1 { color: $literal }
/* LiteralStringSymbol */ .chroma .ss { color: $literal }
/* LiteralNumber */ .chroma .m { color: $number }
/* LiteralNumberBin */ .chroma .mb { color: $number }
/* LiteralNumberFloat */ .chroma .mf { color: $number }
/* LiteralNumberHex */ .chroma .mh { color: $number }
/* LiteralNumberInteger */ .chroma .mi { color: $number }
/* LiteralNumberIntegerLong */ .chroma .il { color: $number }
/* LiteralNumberOct */ .chroma .mo { color: $number }
/* Operator */ .chroma .o { color: $operator }
/* OperatorWord */ .chroma .ow { color: $operator }
/* Punctuation */ .chroma .p { color: $puncuation }
/* Comment */ .chroma .c { color: $comment }
/* CommentHashbang */ .chroma .ch { color: $comment }
/* CommentMultiline */ .chroma .cm { color: $comment }
/* CommentSingle */ .chroma .c1 { color: $comment }
/* CommentSpecial */ .chroma .cs { color: $comment }
/* CommentPreproc */ .chroma .cp { color: $comment }
/* CommentPreprocFile */ .chroma .cpf { color: $comment }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: $operator }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color: $name }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: $comment }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
