<!--------------------------------- Meta data --------------------------------->

<meta charset="utf-8" />
<!-- Title -->
<title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
<!-- Meta -->
{{- if eq .Kind "page" }}
<meta name="description" content="{{ .Summary }}">
<meta name="author" content="{{ .Params.Author | default .Site.Author.name }}">
{{- else }}
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="author" content="{{ .Site.Author.name }}">
{{- end }}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!---------------------------------- Styling ---------------------------------->

{{ $main := resources.Get "sass/main.scss" }}

{{ if (.Site.IsServer) }}
    <!-- Only build the main style sheet and ignore the syntax highlighting because that fucks up fast reload for some reason -->
    {{ $style := $main | toCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
{{ else }}
    {{ $syntax := resources.Get "sass/syntax.scss" }}
    {{ $options := ( dict "targetPath" "style.css" "outputStyle" "compressed" ) }}
    {{ $resources := slice $main $syntax | resources.Concat "css/style.css" }}
    {{ $style := $resources | toCSS $options | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
{{ end }}

<!-- Script -->

<script>
    function toggleMenu() {
        var x = document.getElementById("navigation");
        if (x.className === "") {
            x.className = "open";
        } else {
            x.className = "";
        }
    }
</script>